<div class="login">
    <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <md-input-container>
            <input mdInput placeholder="Email" type="email" formControlName="email">
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Password" type="password" formControlName="password">
        </md-input-container>
        <input type="submit" value="Sign In" [disabled]="!loginForm.valid">

    </form>
    <div class="login__buttons">
        <button md-button routerLink="/registration" class="login__btn-reg">Registration</button>
        <button md-button routerLink="/forgot-password" class="login__btn-forgot">Forgot password</button>
    </div>
</div>
