<table>
    <tr mdSort (mdSortChange)="sortData($event)">
        <th class="table-header" md-sort-header="name">Name</th>
        <th class="table-header" md-sort-header="lastname">Lastname</th>
        <th class="table-header" md-sort-header="dateOfBirth">Date of Birth</th>
        <th class="table-header" md-sort-header="Email">Email</th>

    </tr>

    <tr *ngFor="let user of users">
        <td class="table-item">{{user.name}}</td>
        <td class="table-item">{{user.lastname}}</td>
        <td class="table-item">{{user.dateOfBirth.slice(0,10)}}</td>
        <td class="table-item">{{user.email}}</td>
    </tr>
</table>