.header{
    height: 100px;
    background: #337AB7;
    margin-bottom: 30px;
}

.header__wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__logout {
    margin-top:40px;
}

.sidebar{
    width: 200px;
}
.content-wrap {
    display: flex;
    flex-direction: row;

}

.page-content {
    padding-left: 20px;
    width: 100%;
}

.content-user-data {
    margin-bottom: 30px;
}
.edit-name__input {
    width: 100px;
}

.all-user-data{
    margin-top: 20px;
    height: 40px;
    width: 600px;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
}