<div class="container">

    <div class="question bg-warning">
        <span class="text-danger"> What is sum ? </span><span class="question__qu">{{question}}</span>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Your answer:</label>
            <input type="number" class="form-control" id="exampleInputName2" [(ngModel)]="userAnswer"
                   [ngModelOptions]="{standalone: true}" (change)="checkAnswer()">
        </div>
        <button type="submit" class="btn btn-default" routerLink="/forgot-password/user-data">Send answer</button>
    </form>
    <router-outlet *ngIf="correctAnswer"></router-outlet>
</div>
